* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

body {
  font-family: sans-serif;
  background: url(candyshop1.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  width: 70vw;
  margin: auto;
  display: block;
  color: white;
  height: 78px;
  padding: 10px;
  padding-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e91e63;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-bottom: 60px;
}

.buttonsRight {
  display: flex;
}

.navInfo {
  display: flex;
  justify-content: space-between;
}

.buttonNav {
  text-decoration: none;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  font-family: 'Pacifico';
  font-weight: 600;
  position: relative;
  top: -11px;
  margin-left: 13px;
  margin-right: 13px;
  min-width: 90px;
}

.buttonNav:hover {
  background-color: white;
  cursor: pointer;
  transition: ease 0.4s;
}

.buttonNav:hover a {
  color: cornflowerblue;
  transition: ease 0.4s;
}

.buttonNav a {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  font-family: Pacifico;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 2px 2px 2px black;
}

.candyContainer,
.userContainer {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  overflow-wrap: break-word;
  margin: 15px;
  padding: 20px;
  width: 20%;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  min-height: 400px;
}

.candyContainer img {
  height: 150px;
  width: 150px;
  border: 2px solid white;
  border-radius: 15px;
  margin: auto;
}

.candyInfo,
.userInfo {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.allProductsContainer {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
}

.buyButton {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  width: 100px;
  background: #2196f3;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
}

.singleCandyCartEdit {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  width: 100px;
  background: #97dc47;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.sinCandyCartRemove {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  width: 100px;
  background: #e91e63;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.buyButton:hover,
.submitNewCandy:hover,
.singleCandyCartEdit:hover,
.sinCandyCartRemove:hover,
.singleCandyCartRemove:hover,
.submitEditCandy:hover {
  filter: contrast(160%);
  box-shadow: inset 2px 2px 50px 50px rgba(0, 0, 0, 0.25);
  transition: 0.4s ease;
}

.loginForm {
  width: 20%;
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 150px;
}

.loginForm label {
  font-size: 20px;
}

.loginForm input {
  border-radius: 5px;
}

.loginForm form {
  display: flex;
  flex-direction: column;
}

.loginForm button {
  background: white;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.loginForm a {
  color: white;
}

.welcome,
.total {
  text-align: center;
  font-size: 25px;
  color: white;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 25%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  border: 2px solid white;
}

.singleCandyCart {
  border: 2px solid white;
  border-radius: 20px;
  min-width: 450px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  background: rgba(0, 0, 0, 0.6);
  overflow-wrap: break-word;
  color: white;
}

.singleCandyCart img {
  height: 200px;
  width: 200px;
  padding: 0;
  border: 2px solid white;
  border-radius: 15px;
  margin: auto;
}

.candyImage {
  padding: 0;
  margin: 0;
}

.candyRight {
  text-align: center;
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.singleCandyCartRemove {
  margin: auto;
  width: 60%;
  background-color: #f54343;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
}

.singleCandyContainer {
  margin-top: 30px;
  margin: auto;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.singleCandyImg {
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.singleCandyContainer img {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.singleCandyContainer h1 {
  color: pink;
}

.singleCandyRight {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singleCandyMinusButton,
.singleCandyPlusButton,
.singleCandyAddToCartButton {
  text-align: center;
  margin: auto;
  background-color: #97dc47;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  border: 2px solid white;
  cursor: pointer;
}

.singleCandyMinusButton,
.singleCandyPlusButton {
  width: 32px;
}

.totalDisplay {
  display: flex;
  justify-content: center;
}

.proceedToCheckout {
  text-align: center;
  font-size: 25px;
  color: white;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 15%;
  background: cornflowerblue;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 2px solid white;
  margin: 0;
  border-left: none;
  cursor: pointer;
  min-width: 285px;
}

.total {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  margin: 0;
}

.singleCandyButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.singleCandyContainer {
  min-width: 700px;
}

.singleCandyPlusButton:hover,
.singleCandyMinusButton:hover,
.singleCandyAddToCartButton:hover {
  filter: contrast(160%);
  box-shadow: inset 2px 2px 50px 50px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}

a {
  color: white;
}

.candyEditContainer {
  width: 70%;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  margin: auto;
  min-width: 700px;
}

.candyEditContainer label,
.addCandySubmitBox label {
  margin: 10px;
  width: 70%;
}

.candyEditContainer input {
  width: 90%;
  border: 2px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
}

.candySubmitBox {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  margin: 0;
}

.submitEditCandy,
.submitNewCandy {
  margin: auto;
  width: 10%;
  padding: 5px 0px 5px 0px;
  background-color: #7cb838;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}

img {
  border: 2px solid white;
  border-radius: 15px;
  margin: auto;
}

.singleCandyImg img {
  width: 312px;
  height: 312px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.centerSubmit {
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.singleCandyTopInfo {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addCandySubmitBox {
  border: 2px solid white;
  text-align: center;
  color: white;
  padding-top: 15px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.6);
}

.addCandySubmit {
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
}

.addCandySubmitBox input {
  border: 2px solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.candyButtons {
  display: flex;
  justify-content: center;
}

.warning,
.accepted {
  font-size: 12px;
  background-color: rgb(245, 67, 67);
  color: white;
  /* padding: 0px 5px 0px 5px; */
  border: 1.5px solid white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.accepted {
  background-color: #7cb838;
}

.addCandySubmit input {
  width: 90%;
}

.singleCandyCartDisplay {
  width: 70%;
  margin: auto;
  display: flex;
  overflow-x: scroll;
  border-right: 2px solid white;
  border-left: 2px solid white;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.emptySingleCandyCart {
  height: 258px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.emptyCartMessage {
  margin: auto;
  color: white;
  text-align: center;
}

.singleCandyCartLabel {
  font-size: 25px;
  font-weight: 900;
  margin: auto;
  width: 70%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.singleCandyCartQuantityButtons {
  display: flex;
  align-items: center;
  margin: auto;
}

.singleCandyCartQuantity {
  margin: 0px 10px 0px;
}

.filterDiv {
  border: 2px solid white;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  margin: 15px auto auto auto;
  width: 72%;
}

.filterDiv label {
  margin: 5px;
}

select {
  border: 2px solid white;
  border-radius: 5px;
  margin: 2px;
}
