@import './stylesheets/adminPanel.css';
@import './stylesheets/allCandyAndUsers.css';
@import './stylesheets/body.css';
@import './stylesheets/buttons.css';
@import './stylesheets/cartView.css';
@import './stylesheets/filter.css';
@import './stylesheets/forms.css';
@import './stylesheets/login.css';
@import './stylesheets/navbar.css';
@import './stylesheets/singleCandyView.css';
@import './stylesheets/socialMedia.css';
@import './stylesheets/order.css';
@import './stylesheets/responsive.css';

/* ::-webkit-scrollbar {
  background-color: black;
}

::-webkit-scrollbar:horizontal {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
} */

/* ::-webkit-scrollbar {
  width: 100px;
} */
